@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    scroll-behavior: smooth;
}
 
body {
     background-color: ivory;
     background-image: url("./background-img.jpeg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     margin: 0;
     font-family: 'Roboto';
     font-size: 17px;
}

/* GENERIC SECTION CONTENT */

.text-block {
    margin: 30px auto;
    width: 80%;
    padding: 10px 20px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
}

.section {
    padding-top: 50px;
}

/* NAVIGATION BAR */

#nav-bar {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar li {
    display: inline-block; 
}
  
#nav-bar .nav-link {
    display: block;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

#nav-bar .nav-link:hover {
    background-color: #AAA;
    opacity: 0.99;
}


/* LOGO */

.logo {
    position: relative;
    font-family: 'Indie Flower', cursive;
    margin-top: 50px;
    margin-bottom: 150px;
}

#header-img {
    display: block;
    margin: 0 auto;
    height: 180px;
    width: auto;
}

.logo-brand {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
}

.logo-brand2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-size: 17px;
}  


 /* ABOUT US */

 iframe {
    display: block;
    margin: 75px auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}


/* SERVICES */

.services-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-top: 0px;
}

.services-flex-container div {
    position: relative;
    width: 20%;
    height: 400px;
    padding-top: 50px;
}

.services-flex-container div .price {
    display: block;
    position: absolute;
    bottom: 1px;
    margin-bottom: 5px;
}

.service-image {
    width: 80%;
    height: auto;
}

.option-desc {
    line-height: 1.35;
}

.option-title, .option-desc, .price {
    text-align: center;
    width: 100%;
}


/* BOOK BUTTON */

#appointment button {
    display: block;
    margin: 0 auto;
    padding: 5px 15px;
    font-size: 25px;
    border-radius: 50px;
    border-color: #000;
    border-width: 6px;
    color: #000;
    background-color: #FFF;
    cursor: pointer;
}

#appointment button:hover {
    background-color: #999;
    color: #FFF;
}


/* NEWSLETTER  */

#newsletter {
    padding-top: 25px;
    text-align: center;
}

#newsletter .text-block {
    text-align: center;
    padding-bottom: 30px;
}

input[type=email] {
    height: 30px;
    width: 200px;
    padding: 0px 5px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #525860;
}

input[type=submit] {
    height: 25px;
    width: 70px;
    font-size: 12px;
    border-radius: 50px;
    border-color: #000;
    border-width: 2.5px;
    color: #000;
    background-color: #FFF;
    cursor: pointer;
}

 /* FOOTER */

 footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
 }

 footer ul li {
     padding: 5px 10px;
     font-size: 13px;
 }

 footer ul li:last-child {
     flex-grow: 8;
     text-align: right;
 }

 footer ul li a {
    text-decoration: none;
    color:#4837c6;
 }
 

/* MEDIA QUERIES */

@media only screen and (max-device-width: 600px) {
    body {
        font-size: 22px;
    }

    #nav-bar {
        position: absolute;
        top: 0;
        font-size: 36px;
    }

    #nav-bar li {
        display: block; 
    }

    #header-img {
        width: 65%;
        height: auto;
    }

    .logo {
        top: 200px;
    }

    .logo-brand {
        font-size: 48px;
        top: 25%;
    }

    .logo-brand2 {
        font-size: 28px;
    }

    .services-flex-container div {
        width: 40%;
	height: auto;
    }

    .services-flex-container div .price {
       position: relative;
    }

    iframe {
        width: 62%;
    }
}
